Import libraries for data cleaning

In [1]:
import csv
from tokenize import String

import di
import numpy as np
import pandas as pd
import seaborn as sns
import os
import re

Reading CSV file

In [2]:
df_actors = pd.read_csv(r"C:\Users\ricca\Desktop\CSV\actors.csv\actors.csv")

Top records of CSV file: actors.csv

In [3]:
df_actors

              id               name                 role
0        1000001      Margot Robbie               Barbie
1        1000001       Ryan Gosling                  Ken
2        1000001    America Ferrera               Gloria
3        1000001  Ariana Greenblatt                Sasha
4        1000001           Issa Rae               Barbie
...          ...                ...                  ...
5798445  1941596            Marc Ma            Ba Cai/巴莱
5798446  1941596                线雨轩              Tata/塔塔
5798447  1941596       Jiang Yixuan  Zuo Yila（Zoila）/佐伊拉
5798448  1941597     Hiroshi Mikami                  NaN
5798449  1941597      Keiko Oginome                  NaN

[5798450 rows x 3 columns]

Checking for total dimension of the csv

In [4]:
df_actors.shape

(5798450, 3)

Rename 'id' column in 'id_actor'. "inplace = True" modifies directly the df without creating a copy

In [5]:
df_actors.rename(columns = {"id":"id_actor"} , inplace = True)

In [6]:
df_actors.columns

Index(['id_actor', 'name', 'role'], dtype='object')

Check info about column type

In [7]:
df_actors.dtypes

id_actor     int64
name        object
role        object
dtype: object

Correction of data type of the records

In [8]:
df_actors['id_actor'] = df_actors['id_actor'].astype('Int64')
df_actors['name'] = df_actors['name'].fillna(pd.NA).astype('string')
df_actors['role'] = df_actors['role'].fillna(pd.NA).astype('string')
df_actors.dtypes

id_actor             Int64
name        string[python]
role        string[python]
dtype: object

Check if there are duplicates

In [9]:
df_actors.duplicated().sum()

np.int64(946)

In [10]:
df_actors.drop_duplicates(inplace = True)
df_actors.duplicated().sum()

np.int64(0)

Check the missing values

In [11]:
df_actors.isnull().sum()

id_actor          0
name              4
role        1361123
dtype: int64

Dropping records with missing value

In [12]:
df_actor = df_actors.dropna()
df_actor.isnull().sum()

id_actor    0
name        0
role        0
dtype: int64