Import libraries for data cleaning

In [26]:
import csv
import numpy as np
import pandas as pd
import seaborn as sns
import os
import re

Reading CSV file

In [27]:
df = pd.read_csv(r'C:\temporanei\CSV_progetto\actors.csv')

Top records of CSV file: actors.csv

In [28]:
df.head()

  id_actor               name    role;;
0  1000001      Margot Robbie  Barbie;;
1  1000001       Ryan Gosling     Ken;;
2  1000001    America Ferrera  Gloria;;
3  1000001  Ariana Greenblatt   Sasha;;
4  1000001           Issa Rae  Barbie;;

Checking for number of columns

In [29]:
df.columns

Index(['id_actor', 'name', 'role;;'], dtype='object')

Rename 'role;;' column in 'role'. "inplace = True" modifies directly the df without creating a copy

In [30]:
df.rename(columns = {"role;;":"role"} , inplace = True)

In [31]:
df.columns

Index(['id_actor', 'name', 'role'], dtype='object')

Rename role values, they all have ";;" at the end. str.rstrip(';') removes ';;' at the end of the value

In [32]:
df['role'] = df['role'].str.rstrip(';')
df.head()

  id_actor               name    role
0  1000001      Margot Robbie  Barbie
1  1000001       Ryan Gosling     Ken
2  1000001    America Ferrera  Gloria
3  1000001  Ariana Greenblatt   Sasha
4  1000001           Issa Rae  Barbie

Check the missing values

In [33]:
df.isnull().sum()

id_actor        0
name        14632
role        14633
dtype: int64

Dropping the missing value

In [34]:
df1_actor = df.dropna()
df1_actor.isnull().sum()

id_actor    0
name        0
role        0
dtype: int64

Check for information concerning the dataset

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   id_actor  1048575 non-null  object
 1   name      1033943 non-null  object
 2   role      1033942 non-null  object
dtypes: object(3)
memory usage: 24.0+ MB

In [36]:
df1_actor.groupby('role')['role'].agg('count')

role
                                      48893
 Phase Two / Prince Lizard (voice)        1
 Zak (voice)                              1
#1 (voice)                                1
#1 Man (voice)                            1
                                      ...
黎满庚                                       1
鼠婆子                                       1
노할머니                                      1
메건                                        1
샤네                                        1
Name: role, Length: 512945, dtype: int64

In [ ]:
sns.boxplot(df1_actor['role'])