Import libraries for data cleaning

In [13]:
import csv
from tokenize import String

from db_connection import get_db_engine
from db_connection import execute_query
import numpy as np
import pandas as pd
import seaborn as sns
import os
import re

Reading CSV file

In [14]:
df_languages = pd.read_csv(r"C:\Users\ricca\Desktop\CSV\languages.csv\languages.csv")

Top records of CSV file: languages.csv

In [15]:
df_languages

              id              type  language
0        1000001          Language   English
1        1000002  Primary language    Korean
2        1000002   Spoken language   English
3        1000002   Spoken language    German
4        1000002   Spoken language    Korean
...          ...               ...       ...
1038757  1941593          Language   Chinese
1038758  1941594          Language   English
1038759  1941595          Language   English
1038760  1941596          Language   Chinese
1038761  1941597          Language  Japanese

[1038762 rows x 3 columns]

Checking for total dimension of the csv

In [16]:
df_languages.shape

(1038762, 3)

Rename 'id' column in 'id_language'. "inplace = True" modifies directly the df without creating a copy

In [17]:
df_languages.rename(columns = {"id":"id_language"} , inplace = True)

In [18]:
df_languages.columns

Index(['id_language', 'type', 'language'], dtype='object')

Check info about column type

In [19]:
df_languages.dtypes

id_language     int64
type           object
language       object
dtype: object

Correction of data type of the records

In [20]:
df_languages['id_language'] = df_languages['id_language'].astype('Int64')
df_languages['type'] = df_languages['type'].fillna(pd.NA).astype('string')
df_languages['language'] = df_languages['language'].fillna(pd.NA).astype('string')
df_languages.dtypes

id_language             Int64
type           string[python]
language       string[python]
dtype: object

Check if there are duplicates

In [21]:
df_languages.duplicated().sum()

np.int64(0)

In [22]:
df_languages.drop_duplicates(inplace = True)
df_languages.duplicated().sum()

np.int64(0)

Check the missing values

In [23]:
df_languages.isnull().sum()

id_language    0
type           0
language       0
dtype: int64

Dropping records with missing value

In [24]:
df_languages = df_languages.dropna()
df_languages.isnull().sum()

id_language    0
type           0
language       0
dtype: int64

Connecting to PostgreSQL database and creating the table

In [25]:
engine = get_db_engine()
sql = \
    """CREATE TABLE IF NOT EXISTS languages (
            id_language INTEGER CHECK (id_language>0),
            type TEXT CHECK (type<>''),
            language TEXT CHECK (language<>''),

            PRIMARY KEY (id_language, type, language)
            );
    """
execute_query(sql)

Success!

Population of the table using .to_sql function

In [26]:
df_languages.to_sql("languages", engine, if_exists="append", index=False)

762